<!DOCTYPE html>
<html>
<head>
 <title></title>
</head>
<body>
td {
        width: 150px;
        text-align: center;
        border: 1px solid black;
        padding: 5px;
    }
<table>
    <thead>
        <tr>
            <th>CompanyName</th>
            <th>Sector</th>
            <th>Sub-Sector</th>
            {% for row in columns %}
            <th>{{row[0]}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
     {% for row in records %}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[5]}}</td>
            <td>{{row[6]}}</td>
            <td>{{row[7]}}</td>
            <td>{{row[8]}}</td>
            <td>{{row[9]}}</td>
            <td>{{row[10]}}</td>
            <td>{{row[11]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>