<!DOCTYPE html>
<html>
<head>
 <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>

.column-nowrap {
    white-space: nowrap;
}

.positive {
    color:green;
    font-weight:bold;
}

.negative {
    color:#CD5C5C;
    font-weight:bold;
}

table thead th:first-child,
table tbody th:first-child {
  position: sticky;
  left: 0;
  background: white;
}

.overlapStock {
    position: sticky;
    left: 0;
    background: white;
    z-index: 3;
}
</style>

<script>
    function addRemoveCSS() {
        const boxes = document.getElementsByClassName("changeZIndex");
        for(const box of boxes) {
            box.classList.toggle("overlapStock");
        }
    }
</script>

<body>
<table class="table table-light">
    <thead>
        <tr>
            <th scope="col" onclick="addRemoveCSS()">Company</th>
            <th scope="col" onclick="addRemoveCSS()" class="changeZIndex">Performance</th>
            {% for column in columns %}
                <th scope="col" class="column-nowrap">{{column}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for company, date in performance.items() %}
            <tr>
                <th scope="row" onclick="addRemoveCSS()">{{company}}</th>
                <th scope="row" onclick="addRemoveCSS()" class="changeZIndex">
                    <div class="left">OpenClosePercent</div>
                    <div class="left">HighLowPercent</div>
                    <div class="left">PrevClosePercent</div>
                    <div class="left">VolPercent</div>
                    <div class="left">GapUpPercent</div>
                    <div class="left">GapDownPercent</div>
                </th>
                {% for column in columns %}
                <td>
                    {% for date, performance in date.items() %}
                        {% if performance is not number and column == date %}
                            {% for key, value in performance.items() %}
                                {% if 'volPercent' == key %}
                                    {% if value >= 100 %}
                                        <div class="positive">{{value}}</div>
                                    {% elif value <= 0 and value|abs >= 50 %}
                                        <div class="negative">{{value}}</div>
                                    {% else %}
                                        <div>{{value}}</div>
                                    {% endif %}
                                {% elif 'gapUp' == key %}
                                    {% if value > 0 %}
                                        <div  class="positive">{{value}}</div>
                                    {% else %}
                                        <div>-</div>
                                    {% endif %}
                                {% elif 'gapDown' == key %}
                                    {% if value < 0 %}
                                        <div class="negative">{{value}}</div>
                                    {% else %}
                                        <div>-</div>
                                    {% endif %}
                                {% elif 'openClosePercent' == key or 'highLowPercent' == key or 'prevClosePercent' == key %}
                                    <div>{{value}}</div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>